body {
 background-color: rgb(190, 207, 255);
}

h1 {
  text-align: center;
  font-size: 6vw;
  font-family:'Nerko One', cursive;
  letter-spacing: .2rem;

-webkit-text-stroke-width: 1.5px;
-webkit-text-stroke-color: white;
}

#jeopardy {
  text-align: center;
  font-size: 9pt;
  background-color: #2d34e9;
  color: white;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

#jeopardy th, #jeopardy td {
  border: solid 3px white;
  
  width: 12em;
  padding: 1em;
}

button {
  cursor: pointer;
  background-color:  rgb(190, 207, 255);
  border: none;
  color: black;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  font-family:'Nerko One', cursive;
  margin-left: 50%;
  margin-right: 50%;
}

th {
  text-transform: uppercase;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  height: 4em;
  text-shadow: black 3px 3px;
}

td {
  height: 9em;
  font-family: Copse, serif;
}

td:hover {
  cursor: pointer;
}
